<div>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>JINHYUN Spring Boot Alpha</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/jquery.bxslider.css" rel="stylesheet">
<link href="/css/jquery-ui.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">
<!-- script references -->
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/worldMapPathData.js"></script>
<script src="/js/koreaMapPathData.js"></script>
<script src="/js/usaMapPathData.js"></script>
<script src="/js/canadaMapPathData.js"></script>
<style>
/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}
</style>
</div>