#map_section {
	overflow: hidden;
}

#main_article {
	width: 500px;
	float: left;
}

#koreamap_image {
	width: 500px;
	float: right;
}

#usamap_image {
	width: 500px;
}

#canadamap_image {
	width: 500px;
	float: right;
}

figure {
	margin: 0;
	padding: 0;
}

.float_top {
	width: 100% !important; /* 다른 규칙을 벗어나 !important를 최우선으로 먹게함*/
}

.float_bottom {
	width: 100% !important; /* 다른 규칙을 벗어나 !important를 최우선으로 먹게함*/
}
		
	
