<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>{{> include/header}}
</head>

<body>
	{{> include/navigation}}

	<div class="container" id="main">


		<div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
			<div id="gallery_wrap">
				<ul class="slide_gallery">
					<li><img src="../images/main_pic1.jpg" alt="picture 1"></li>
					<li><img src="../images/main_pic2.jpg" alt="picture 2"></li>
					<li><img src="../images/main_pic3.jpg" alt="picture 3"></li>
					<li><img src="../images/main_pic4.jpg" alt="picture 4"></li>
				</ul>
			</div>
			<div class="panel panel-default qna-list">
				<ul class="list">
					{{#questions}}
					<li>
						<div class="wrap">
							<div class="main">
								<strong class="subject"> <a href="/questions/{{id}}">{{title}}</a>
								</strong>
								<div class="auth-info">
									<i class="icon-add-comment"></i> <span class="time">{{formattedCreateDate}}</span>
									<a href="./user/profile.html" class="author">{{writer.userId}}</a>
								</div>
								<div class="reply" title="reply">
									<i class="icon-reply"></i> <span class="point">{{countOfAnswer}}</span>
								</div>
							</div>
						</div>
					</li> {{/questions}}
				</ul>

				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6 text-center">
						<ul class="pagination center-block" style="display: inline-block;">
							<li class = "previous"><a href="?page=0">&larr; Newer Posts</a></li>
							<li class = "next"><a href="?page=1">Older Posts &rarr;</a>
						</ul>
					</div>
					<div class="col-md-3 qna-write">
						<a href="/questions/form" class="btn btn-primary pull-right"
							role="button">Question</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<footer th:replace="./include/footer :: mainFooter"></footer>
</body>
</html>