<!DOCTYPE html>
<html lang="en">
<head>{{> include/header}}
</head>
<body>
	{{> include/navigation}}

	<div class="container" id="main">
		<div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
			<div class="panel panel-default content-main">
				<form name="question" method="post" action="/questions/createQuestion">
					<div class="form-group">
						<label for="title">Title</label> <input type="text"
							class="form-control" id="title" name="title" placeholder="Title" />
					</div>
					<div class="form-group">
						<label for="contents">Contents</label>
						<textarea name="contents" id="contents" placeholder="Contents"
							rows="5" class="form-control"></textarea>
					</div>
					<button type="submit" class="btn btn-success clearfix pull-right">Question</button>
					<div class="clearfix" />
				</form>
			</div>
		</div>
		{{> include/footer}}
	</div>


</body>
</html>