<!DOCTYPE html>
<html lang="kr">
<head>{{> include/header}}
</head>
<body>
	{{> include/navigation}}

	<div class="container" id="main">
		<div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
			<div class="panel panel-default content-main">
				{{#question}}
				<form name="question" method="post"
					action="/questions/{{id}}/updateQuestion">
					<div class="form-group">
						<label for="title">Title</label> <input type="text"
							class="form-control" id="title" name="title" placeholder="{{title}}"/>
					</div>
					<div class="form-group">
						<label for="contents">Contents</label>
						<textarea name="contents" id="contents" rows="5"
							class="form-control">{{contents}}</textarea>
					</div>
					<button type="submit" class="btn btn-success clearfix pull-right">Question</button>
					<div class="clearfix" />
				</form>
				{{/question}}
			</div>
		</div>
		{{> include/footer}}
	</div>
</body>
</html>