<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
{{> include/header}}
<title>Jimmy~!</title>
<link rel="stylesheet" href="/css/about.css" type="text/css">
<script src="/js/jquery-2.2.0.min.js"></script>
</head>

<body>
	{{> include/navigation}}
	<div>
		<div class="container-fluid">
			<br />
			<div class="row content">
				<div class="col-sm-3 sidenav"
					style="background-color: #c4f9fc; height: 2200px;">
					<br />
					<h3 align="center">
						<div style="color: #0d26be;">The Table of Contents</div>
					</h3>
					<br />
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#no1">Who am I~!!</a></li>
						<li class="active"><a href="#no2">Where am I</a></li>
						<li class="active"><a href="#no3">What am I</a></li>
						<li class="active"><a href="#no4">Portfolio</a></li>
					</ul>
				</div>

				<div class="col-sm-9">
					<div id="wrap">
						<div id="container">
							<div
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<header></header>
								<section id="no1">
									<div class="page-title">
										<h1>Who am I(Mad for Web development)</h1>
									</div>
									<div class="content">
										<div class="photo">
											<img src="images/coffee.jpg" alt="coffee">
										</div>
										<div class="text">
											<p1>I’m the man who doesn’t give up challenges, enjoy
												working with co-worker, and I always love the job that
												challenges me to improve or solve programs when I meet
												unexpected problems. I. I strongly believe that my attitude
												and skill background make me a good person.</p1>
										</div>
									</div>
								</section>


								<section id="no2">
									<div class="page-title">
										<h1>Where am I(I Love Canada)</h1>
									</div>
									<div class="content">
										<div class="photo">
											<img src="images/map1.jpg"
												alt="direct connected with subway Station">
										</div>
										<div class="text">
											<p1>33 Empress Ave, North York</p1>
											<p1>Near by North York Centre Station</p1>
											<p1>I am work in North York, Toronto</p1>
											<p1>I am work for Avantisnet.com</p1>
										</div>
									</div>
								</section>


								<section id="no3">
									<div class="page-title">
										<h1>What am I</h1>
									</div>
									<div class="content">
										<div class="photo">
											<img src="images/ice.jpg" alt="Ice coffee"
												style="border: 1px solid white; border-radius: 50%">
										</div>
										<div class="text">
											<h2>Full-Stack Developer/Leader</h2>
											<ol>
												<li><h2>(Front-End)</h2>
													<ul>HTML5/CSS3/JavaScript(Vanilia JS).
													</ul>
												</li>
												<li><h2>(Back-End)</h2>
													<ul>Java/Python/OracleDB/Mysql.
													</ul>
												</li>
												<li><h2>(Dev-Ops)</h2>
													<ul>AWS/SpringBoot.
													</ul>
												</li>
											</ol>
										</div>
									</div>
								</section>

								<section id="no4">
									<div class="page-title">
										<h1>Portfolio</h1>
									</div>
									<div class="content">
										<ul class="prod-list">
											<li><img src="images/JTLoan.jpg">
												<div class="caption">
													<a href="http://loan.jtchinae-bank.co.kr" target="_blank">JT
														Loan Site</a>
													<h1>portfolio 1</h1>
													<p1>Direct Loan Site for Customer</p1>
													<p1>Wep Application Developer</p1>
												</div></li>
											<li><img src="images/JTBank.jpg">
												<div class="caption">
													<a href="http://jt-bank.co.kr" target="_blank">JT Bank</a>
													<h1>portpolio 2</h1>
													<p1>JT Bank official Homepage</p1>
													<p1>Wep Application Developer</p1>
												</div></li>
										</ul>
									</div>
								</section>


								<!-- 이미지로 버튼만들려면 -->
								<a href="#" class="jcm-top"> <img
									src="./images/arrow-up.png"
									style="margin-bottom: 24px; width: 45px;">
								</a>
							</div>
						</div>
					</div>
					<hr />
				</div>
			</div>
		</div>
	</div>
	{{> include/footer}}
</body>
</html>