<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>{{> include/header}}
</head>

<body>
	{{> include/navigation}}
	<div>

		<div class="container-fluid">
			<h1 align="center"
				style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
				<span
					style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">Welcome
					to the Delicious Team</span>
			</h1>
		</div>
		<div class="container-fluid"></div>
		<div class="container-fluid"></div>
		<div class="container-fluid">
			<br />
			<div class="row content">
				<div class="col-sm-3 sidenav" style="background-color: #c4f9fc;">
					<h3 style="background-color: #c4f6fc;">
						<span style="color: #0d26be;">Jee &amp; Michelle's Food
							Blog</span>
					</h3>
					<br />
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#section1">About us</a></li>
						<li><pre>Yesterday &amp; Today</pre></li>
						<li><pre>Inspiration</pre></li>
						<li><pre>Dream</pre></li>
						<li><pre>Future</pre></li>
						<li class="active"><a href="#section5">JongWon Baek Chef</a></li>
						<li><pre>Who is he?</pre></li>
						<li><pre>Why we choose him?</pre></li>
						<li><pre>His value</pre></li>
						<li><pre>What we will do?</pre></li>
					</ul>
					                      <span
						style="background-color: #d9534f; color: #ffffff; font-size: 18.0px; font-weight: bold; text-align: center; white-space: nowrap;"></span>
					<div class="input-group">
						<span
							style="font-family: 'Open Sans', sans-serif; font-size: small;"> 
							       </span>
					</div>
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
					<br /> <br /> <br />
				</div>
				<div class="col-sm-9">
					<div id="section1"
						style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
						<br />
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
							<img
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_182459_1/cinnamon-4719023_1280.jpg"
								width="393" height="270" alt="Bread" title="Bread" />         
							   <img
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_182459_1/steak-3487001_1280.jpg"
								width="414" height="275" alt="Steak" title="Steak" />  
						</div>
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></div>
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></div>
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
							<br /> <br /> <span
								style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Our
								Yesterday and Today </span> <br /> <br /> <br />
							<div
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<h3
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<span class="label label-success">Michelle</span>
								</h3>
								<h4
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<span style="color: #4b66b3;"><span
										style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
											<section id="no1">
												<h1>소고기덮밥(30분)</h1>
												<ol>
													<li>가쓰오다시 1/2C : 물 1/2C+다시 넣고 끓으면 다시만 버리고 다시물을 공기에 담아서
														가쓰오부시를 위에 넣어두고 8분간 우린다 그 후에 면포를 깐 채반위에 부어서 찌꺼기가 없는 맑은
														가쓰오다시를 만든다.</li>
													<li>양파, 팽이버섯, 실파 : 각각 4Cm.</li>
													<li>소고기 : 결반대로 얇게 편썰기 1*5*0.2cm. - Tip: 편썰고 길이를 끝 잘라서
														맞추기.</li>
													<li>김 : 구운후(빳빳하면 안구워도 됨) 가늘게 채(하리노리).</li>
													<li>달걀 풀어두기.</li>
													<li>돈부리다시 : 가쓰오다시 1/2C + 간장1T + 맛술1T + 설탕 1t + 소금 약간.</li>
													<li>오믈렛 프라이팬에 돈부리다시 넣고 - 끓으면 고기 -> 양파, 팽이 -> 실파 -> 풀어둔
														계란을 전체적으로 뿌린다(80%정도까지만 익힘).</li>
													<li>밥위에 7번에서 완성한 돈부리다시 소스를 올리고 - 김채 올려서 마무리.</li>
													<br />* 계란은 반숙이 되도록 해야 함.
													<br />
													<br />* 밥이 보이지 않도록 잘 덮어야 함. - 미리 밥모양이 잘 나오게 살짝 볼록하게 밥을 자리
													잡아 놓는게 중요.
													<br />
													<br />
													<h3>요구사항</h3>
													<br />가. 덮밥용 양념간장(돈부리 다시)을 만들어 사용하시오.
													<br />나. 고기, 채소, 달걀은 재료 특성에 맞게 조리하여 준비한 밥 위에 올려 놓으시오.
													<br />다. 김을 구워 칼로 잘게 썰어(하리노리) 사용하시오.
												</ol>
											</section>
											<hr>
									</span>
								</h4>
								<h3
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<span class="label label-primary">Jee</span>
								</h3>
								<h4
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<span style="color: #4b66b3;"><span
										style="font-size: 25.0px; line-height: 30.0px;"><span
											style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;">I
												liked to write and draw when I was very young, also I was
												good at all kinds of sports thanks to my parents. I was very
												quiet and was always thinking of something myself and
												enjoyed imaging my future and something interesting. Korean
												education is very systematic and sometimes forced. I studied
												very hard and did well in math. Koreans’ level of study and
												academic enthusiasm seems to be the top in the world. I
												don’t like this Korean style education, but ironically, this
												method of education is the driving power behind my
												lifestyle, patience, and persistence. Practically, I
												strongly believe that </span><span
											style="font-family: 'comic sans ms', sans-serif; text-decoration: blink; font-size: 25.0px; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"><strong><span
													style="font-family: 'trebuchet ms', geneva;"><span
														style="font-family: 'comic sans ms', sans-serif;"><em>t</em></span></span></strong></span></span><span
										style="font-size: 25.0px; line-height: 30.0px;"><span
											style="font-family: 'comic sans ms', sans-serif; text-decoration: blink;"><strong><span
													style="font-family: 'trebuchet ms', geneva;"><span
														style="font-family: 'comic sans ms', sans-serif;"><em>here
																is nothing human cannot do.</em></span></span></strong></span></span><span
										style="font-size: 25.0px; line-height: 30.0px;"><span
											style="font-family: 'comic sans ms', sans-serif; text-decoration: blink;"><strong><span
													style="font-family: 'trebuchet ms', geneva;"><span
														style="font-family: 'comic sans ms', sans-serif;"><em></em></span></span></strong></span><span
											style="font-family: 'comic sans ms', sans-serif;">I
												graduated from university, and I worked for a public
												company. After I got married, my life changed dramatically.
												I am living so busy with my husband and children, my present
												life is absolutely not quiet, and my family comes before me
												now.</span></span></span>
								</h4>
							</div>
							<div
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								                      <img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_182459_1/michelle.jpg"
									width="240" height="308" alt="Michelle" title="Michelle" />   
								        <img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_182459_1/KakaoTalk_20200327_115250237.jpg"
									width="409" height="307" alt="Jee" title="Jee" />             
								                                               
							</div>
							<div
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<div
									style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></div>
								<div
									style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
									<br /> <br /> <br /> <br /> <span
										style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Inspiration
										from Mother </span>
								</div>
								<div id="section2"
									style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
									<br />
									<h3
										style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
										<span class="label label-success">Michelle</span>
									</h3>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span style="color: #4b66b3;"><span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">I
												found a real passion in my career which is inspired by </span><span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;"><em><strong>my
														mother and our home’s kitchen.</strong></em></span><span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
												My potential culinary capacity was built-up by the mother
												who taught me fundamental knowledge and transmitted valuable
												experiences to me through her cooking journey.</span></span>
									</h4>
									<h3
										style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
										<span class="label label-primary">Jee</span>
									</h3>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
										<span style="color: #4b66b3;"><span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; text-align: left; margin-top: 12.0pt;">When
												it was my first time and not easy to take care of my baby, I
												got a lot of help from my mother. She always gave me
												courage, hope, and support. She is the owner-chef of a
												Japanese Restaurant in Korea. Furthermore, she is good at
												all Korean cuisine. Her strengths are thorough hygiene and
												consistent devotion. I started to help her job and I learned
												and realized a lot from serving, cashiers, kitchen
												assistants and even buying ingredients. This was a
												real-world of the restaurant, not a practice. Now and
												forever, <em><strong>I think the greatest
														thing in the world is the mother.</strong></em>
										</span></span><span
											style="font-family: 'comic sans ms', sans-serif; font-size: 30.0px; line-height: 30.0px; text-align: left; margin-top: 12.0pt; text-decoration: blink;"><strong><em></em></strong></span><span
											style="color: #4b66b3; font-size: 25.0px;"></span>
									</h4>
								</div>
								<div id="section3"
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<div
										style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
										<br /> <br /> <br /> <br /> <br /> <span
											style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Canada
											and Dream </span>
									</div>
									<br />
									<h3
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span class="label label-success">Michelle</span>
									</h3>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">With
											strong support from my family and friends, I soon moved to
											Toronto for culinary school <span style="font-size: 25.0px;"><span
												style="font-family: 'comic sans ms', sans-serif; line-height: 30.0px;"><em><strong>to
															further my skills</strong></em></span>.</span> In this space, I feel free to share
											savory and healthy recipes that I love to cook and eat in
											personal or frequently with my friends. This food blog may
											inspire those who have a common interest, passion, and
											creativity like me with food will have the opportunity to
											cook for yourself and your acquaintances, or even apply it
											further on your culinary career.
										</span>
									</h4>
									<h3
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span class="label label-primary">Jee</span>
									</h3>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">I
											was living so busy in South Korea, working at the mom’s
											restaurant, raising children, buying a house and traveling to
											many countries. My hard times passed naturally, and I came
											here to Canada last summer by the time my life was the most
											stable. I registered Culinary Management because I wanted to <span
											style="font-size: 25.0px;"><span
												style="font-family: 'comic sans ms', sans-serif; line-height: 30.0px;"><strong><em>learn
															the whole course in professional cooking theory, hygiene
															and practical cooking</em></strong></span>.</span> Of course, life in Canada is
											strange and English is difficult, but I have a dream now and
											I will never give up. I want to take responsibility for what
											I choose as far as I can.
										</span>
									</h4>
								</div>
							</div>
							<div
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></div>
							<div
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<br />
								<div id="section4"
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<h2
										style="line-height: 100.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
										<br /> <br /> <span
											style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Our
											Future</span>
									</h2>
									<br />
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span style="color: #4b66b3;"><span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">We
												thought a lot about our life, cooking, our home countries,
												and Canada while starting this food blog. For example, South
												Korea offers free lunch to all public school students.
												Surprisingly, it is not low-quality meals and is also not
												cheap ingredients. Nutritionists manage daily diets
												carefully and use organic ingredients. There are even
												parent's monitors regularly. Most children love school lunch
												very much and to be honest, it is often tastier than moms.
												There are always fresh fruits and vegetables every weekday
												and there are birthday cake and ice cream on a special day.
												Of course, Canadian mothers didn’t believe this so far! They
												said Canadian consisted of various races; therefore, a
												nutritionist can’t cook according to the tastes of all
												students. Their prediction is very interesting. How can we
												apply the merits of our home countries here? How can
												Canadians live more comfortably? The answer to this will be
												our task in the future. Ultimately, </span><span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;"><em><strong>we
														want to contribute to Canada in the field of cooking and
														baking by making our effort and more creative ideas.</strong></em></span><span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
										</span></span>
									</h4>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">As
											a first step to become a good chef, now we basically have to
											eat hard to distinguish between good taste and aroma. Let’s
											continue eating over and over!</span>
									</h4>
								</div>
								<br />
								<hr
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
							</div>
							<div id="section5"
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<h2
									style="line-height: 100.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
									<br /> <br /> <br /> <br /> <span
										style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Lovely
										Fat Man: Eating and Eating</span>
								</h2>
								<br />
								<div id="section6"
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<h3
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span class="label label-warning">Who is he?</span>
									</h3>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;"><em><strong>JongWon
													Baek is known as a talented Korean chef</strong></em>, He is on the
											Entertainment Television program called Baek Jongwon's Alley
											Restaurant. It is a South Korean cooking-variety program that
											has been broadcast since January 5, 2018. It is a spin-off of
											the cooking-variety program Baek Jongwon's Top 3 Chef King.
											It is currently hosted by JongWon Baek and SeongJu Kim, it
											aired on SBS: Seoul Broadcasting System every Friday at 23:20
											KST: Korea Standard Time. </span>
									</h4>
								</div>
								    <img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_182459_1/9901A0435AA0A1B71F.jpg"
									width="326" height="201" alt="Baek" title="Baek" />           
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_182459_1/9b8b65cd-2b7b-4be5-a300-b38a6c6f7109.jpg"
									width="385" height="202" alt="Baek" title="Baek" />           
								                <br />
								<div
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></div>
								<div id="section7"
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<br />
									<h3
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span class="label label-warning">Why we choose him?</span>
									</h3>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">JongWon Baek
											grew up in a rich family, entered a top university in South
											Korea, and was always in a stable environment, but all he
											wanted, was not economic stability but making tasty food. For
											example, JongWon Baek, who graduated from the Department of
											Social Work (not Culinary) had a very interesting university
											life. Instead of studying, he traveled across the country in
											search of tasty restaurants, which helped him accumulate an
											extensive and comprehensive knowledge of food. He would often
											cook for his classmates and soon became a central figure in
											his department. JongWon Baek, enjoy eating and likes
											friendly, simple, but delicious rice and food more than
											expensive and complex luxury dishes. It is Korean homemade
											food. It is a home-made meal including a mother's finger
											touch and heart. It is the reason we choose him.</span>
									</h4>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></h4>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></h4>
									<h3
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span class="label label-warning"
											style="font-family: inherit; text-shadow: none; letter-spacing: normal; margin: 0.0px; padding: 0.2em 0.6em 0.3em; border: 0.0px; outline: 0.0px; font-weight: bold; font-style: inherit; font-size: 18.0px; display: inline; line-height: 1; color: #ffffff; text-align: center; white-space: nowrap; vertical-align: baseline; background-color: #f0ad4e;">His
											value</span>
									</h3>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
										<span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">In
											a Television program called Baek JongWon' Alley Restaurant,
											JongWon Baek visits a food alley where self-employed people
											struggle with that business has been slow and renews them
											from store interior to food and other business skills. With
											his help, many self-employed people have actually achieved
											great success in the food business. He is a savior of the
											South Korean diet. He is worth more than a cook.</span>
									</h4>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"></h4>
								</div>
								<div id="section8"
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<br />
									<h3
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span class="label label-warning">What we will do?</span>
									</h3>
									<h4
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span
											style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">We
											will use JongWon Baek's recipe and add creativity with fresh
											ingredients to create our unique dish.</span>
									</h4>
									  <img
										src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_182459_1/bibimbap-4887417_1280.jpg"
										width="328" height="246" alt="Bibimbap" title="Bibimbap" /> 
									           <img
										src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_182459_1/1.jpg"
										width="334" height="250" alt="Korean BBQ" title="Korean BBQ" /> 
									                           <br /> <br /> <br />
									<hr
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
									<br />
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span style="font-size: x-large;"><strong><span
												style="line-height: 200.0%; font-family: 'Times New Roman', serif;">References:</span></strong></span>
									</p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span style="font-size: large;"><span
											style="line-height: 200.0%; font-family: 'Times New Roman', serif;">Rumy,
												D. (2015, Jul 13). [Herald Interview] Baek Jong-won, the
												anti-celebrity  chef. <em>The Korea Herald</em><i>. </i>Retrieved
												from
										</span></span>
									</p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span style="font-size: large;"><a
											href="http://www.koreaherald.com/view.php?ud=20150712000261"><span
												style="line-height: 200.0%; font-family: 'Times New Roman', serif;">http://www.koreaherald.com/view.php?ud=20150712000261</span></a></span>
									</p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span
											style="font-family: 'Times New Roman', serif; font-size: large;">Wikipedia
											(2020). <em>Baek Jong-won's Alley Restaurant</em>
										</span><i
											style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;">. </i><span
											style="font-family: 'Times New Roman', serif; font-size: large;">Retrieved
											March 26, 2020, from </span>
									</p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span
											style="font-size: large; line-height: 107.0%; font-family: 'Times New Roman', serif;"></span><span
											style="font-size: large;"><a
											href="https://en.wikipedia.org/wiki/Baek_Jong-won%27s_Alley_Restaurant"
											style="font-family: inherit; text-shadow: none; letter-spacing: normal; margin: 0.0px; padding: 0.0px; border: 0.0px; outline: 0.0px; font-weight: inherit; font-style: inherit; font-size: 18.0px; color: #337ab7; text-decoration: underline; background-color: transparent;"><span
												style="line-height: 107.0%; font-family: 'Times New Roman', serif;">https://en.wikipedia.org/wiki/Baek_Jong-won%27s_Alley_Restaurant</span></a></span>
									</p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span
											style="font-size: large; line-height: 107.0%; font-family: 'Times New Roman', serif;">Yonsei University. (2019).
											<em>Yonsei News. Revolutionizing Korean Food and Culture</em>.<i
											style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;"> </i>Retrieved
											March 26, 2020, from 
										</span>
									</p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<span style="font-size: large;"> <a
											href="http://www.yonsei.kr/en_sc/yonsei_news.jsp?mode=view&amp;article_no=173942&amp;board_wrapper=%2Fen_sc%2Fyonsei_news.jsp&amp;pager.offset=20&amp;board_no=585&amp;title=revolutionizing-korean-food-and-culture;jsessionid=LBCcEyN4xlZqsgTnYLng121Ibb5JoAfTdTCyDxMN0K1zV4ITydo1DKiqq9HQnlh6.ysmainweb1_servlet_engine1"
											style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal; margin: 0.0px; padding: 0.0px; border: 0.0px; outline: 0.0px; font-weight: 400; font-style: normal; font-size: large; color: #337ab7; text-decoration: underline; background-color: #ffffff; orphans: 2; text-align: justify; text-indent: 0.0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0.0px;"><span
												style="line-height: 200.0%; font-family: 'Times New Roman', serif;">http://www.yonsei.kr/en_sc/yonsei_news.jsp?mode=view&amp;article_no=173942&amp;board_wrapper=%2Fen_sc%2Fyonsei_news.jsp&amp;pager.offset=20&amp;board_no=585&amp;title=revolutionizing-korean-food-and-culture;jsessionid=LBCcEyN4xlZqsgTnYLng121Ibb5JoAfTdTCyDxMN0K1zV4ITydo1DKiqq9HQnlh6.ysmainweb1_servlet_engine1</span></a>
											<br /></span>
									</p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
									<p
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<b
											style="font-family: inherit; font-size: large; font-style: inherit;"> </b>
									</p>
								</div>
								<hr
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
								<br />
								<h2
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">Officially
									Blogging</h2>
								<h5
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<span class="label label-success">Jee &amp; Michelle</span>
								</h5>
								<p
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<span style="font-size: medium;">Hi Everyone. This
										is Jee &amp; Michelle. We would like to meet you guys in
										person, it does not work right now. I pray everyone's safe,
										God bless Us~!</span>
								</p>
								<br />
								<hr
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
								<h4
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">Leave
									a Comment:</h4>
								<p
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<span style="font-size: medium;"><span class="badge">2</span>
										Comments:</span>
								</p>
								<div class="row"
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
									<div class="col-sm-2 text-center"
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<img
											src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/DAGiUGTUAAEIdMT.jpg"
											class="img-circle" height="65" width="65" alt="Avatar" />
									</div>
									<div class="col-sm-10"
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<h4
											style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
											<span style="font-size: medium;">Jinhyun Nam <small>Mar
													29, 2020, 9:12 PM</small></span>
										</h4>
										<h5
											style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
											<span style="font-size: medium;">Keep up the GREAT
												work! I am cheering!!  What a fantastic~! such a great. I
												appreciate~! </span>
										</h5>
									</div>
									<div class="col-sm-2 text-center"
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<img
											src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/DAGiUGTUAAEIdMT.jpg"
											class="img-circle" height="65" width="65" alt="Avatar" />
									</div>
									<div class="col-sm-10"
										style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
										<h4
											style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
											<span style="font-size: medium;">Jinhyun Nam <small>Mar
													30, 2020, 8:25 PM</small></span>
										</h4>
										<h5
											style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
											<span style="font-size: medium;">I am so happy for you
												guys! Finally. I am looking forward to reading about food
												life. Thanks for the food blog.</span>
										</h5>
										<p
											style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
											<span class="badge">1</span> Comment:
										</p>
										<div class="row"
											style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
											<div class="col-sm-2 text-center"
												style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
												<img
													src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/63866_29095_824.jpg"
													class="img-circle" height="65" width="65" alt="Avatar" />
											</div>
											<div class="col-xs-10"
												style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
												<h4
													style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
													<span style="font-size: medium;">Byungjung An <small>Mar
															30, 2020, 8:28 PM</small></span>
												</h4>
												<h5
													style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
													<span style="font-size: medium;">Me too! WOW! I
														admit it.</span>
												</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr />
					<p align="center">
						<span style="font-size: x-large;"> </span>
					</p>
				</div>
			</div>
		</div>
	</div>
	{{> include/footer}}
</body>
</html>