<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
{{> include/header}}
<link rel="stylesheet" href="/css/about.css" type="text/css">
</head>

<body>
	{{> include/navigation}}
	<div>

		<div class="container-fluid">
			<br />
			<div class="row content">
				<div class="col-sm-3 sidenav"
					style="background-color: #c4f9fc; height: 16000px;">
					<br />
					<h3 align="center">
						<div style="color: #0d26be;">The Table of Contents</div>
					</h3>
					<br />
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#food_no1">소고기 덮밥</a></li>
						<li class="active"><a href="#food_no2">메밀국수(자루소바)</a></li>
						<li class="active"><a href="#food_no3">전복버터구이</a></li>
						<li class="active"><a href="#food_no4">달걀찜</a></li>
						<li class="active"><a href="#food_no5">도미술찜</a></li>
						<li class="active"><a href="#food_no6">해삼초회</a></li>
						<li class="active"><a href="#food_no7">도미머리맑은국</a></li>
						<li class="active"><a href="#food_no8">도미조림</a></li>
						<li class="active"><a href="#food_no9">김초밥</a></li>
						<li class="active"><a href="#food_no10">대합맑은국</a></li>
						<li class="active"><a href="#food_no11">갑오징어명란무침</a></li>
						<li class="active"><a href="#food_no12">야끼우동</a></li>
						<li class="active"><a href="#food_no13">소고기간장구이</a></li>
						<li class="active"><a href="#food_no14">된장국</a></li>
						<li class="active"><a href="#food_no15">생선초밥</a></li>
						<li class="active"><a href="#food_no16">달걀말이</a></li>
						<li class="active"><a href="#food_no17">참치김초밥</a></li>
						<li class="active"><a href="#food_no18">삼치소금구이</a></li>
						<li class="active"><a href="#food_no19">문어초회</a></li>
					</ul>
				</div>

				<div class="col-sm-9">
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<br />
						<div
							style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987; text-align: center; height: 70px;">Food
							blog</div>
						<section id="food_no1" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">소고기덮밥(30분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200502_143812.jpg" alt="picture 1"
										width="380" height="214">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/rvUfekJhyeg"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>가쓰오다시 1/2C : 물 1/2C+다시 넣고 끓으면 다시만 버리고 다시물을 공기에 담아서
									가쓰오부시를 위에 넣어두고 8분간 우린다 그 후에 면포를 깐 채반위에 부어서 찌꺼기가 없는 맑은 가쓰오다시를
									만든다.</li>
								<li>양파, 팽이버섯, 실파 : 각각 4Cm.</li>
								<li>소고기 : 결반대로 얇게 편썰기 1*5*0.2cm. - Tip: 편썰고 길이를 끝 잘라서 맞추기.</li>
								<li>김 : 구운후(빳빳하면 안구워도 됨) 가늘게 채(하리노리).</li>
								<li>달걀 풀어두기.</li>
								<li>돈부리다시 : 가쓰오다시 1/2C + 간장1T + 맛술1T + 설탕 1t + 소금 약간.</li>
								<li>오믈렛 프라이팬에 돈부리다시 넣고 - 끓으면 고기 -> 양파, 팽이 -> 실파 -> 풀어둔 계란을
									전체적으로 뿌린다(80%정도까지만 익힘).</li>
								<li>밥위에 7번에서 완성한 돈부리다시 소스를 올리고 - 김채 올려서 마무리.</li>
								<br />* 맛술(미림)과 청주의 차이: 맛술은 청주에 비해 달고 윤기와 광택을 내어준다.(맛술을 졸이면
								시럽처럼 된다. 그래서 조림에 많이 쓴다)
								<br />
								<br />* 계란은 반숙이 되도록 해야 함.
								<br />
								<br />* 밥이 보이지 않도록 잘 덮어야 함. - 미리 밥모양이 잘 나오게 살짝 볼록하게 밥을 자리 잡아
								놓는게 중요.
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 덮밥용 양념간장(돈부리 다시)을 만들어 사용하시오.
								<br />나. 고기, 채소, 달걀은 재료 특성에 맞게 조리하여 준비한 밥 위에 올려 놓으시오.
								<br />다. 김을 구워 칼로 잘게 썰어(하리노리) 사용하시오.
							</ol>
						</section>
						<hr />
						<section id="food_no2" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">메밀국수(자루소바)(30분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200606_144801.jpg" alt="picture 2" width="380"
										height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/7m_yRTn9wws"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>

							<ol>
								<li>가쓰오다시 1C : 물 1C+다시 넣고 끓으면 다시만 버리고 다시물을 공기에 담아서 가쓰오부시를
									위에 넣어두고 8분간 우린다.(나중에 면포를 깐 채반위에 부어서 찌꺼기가 없는 맑은 가쓰오다시를 만든다.)</li>
								<li>면삶을 물을 끓여둔다.</li>
								<li>무 : 껍질을 깐 무를 강판에 갈아서 후지산 모양 만듦.</li>
								<li>실파 : 송송썰어서 작게 만듦.</li>
								<li>와사비 : 와사비분말과 물 비중을 3:1로 해서 되직하게 와사비 만들고 나뭇닢 모양으로 칼집을
									낸다.</li>
								<li>김 : 구운후 가늘게 채썬다(하리노리). 빳빳하면 굽지 않아도 된다.</li>
								<li>끓여둔 면삶을 물을 덜어내서 따로 보관한다.</li>
								<li>소바다시 : 가쓰오다시 1C+간장3T+맛술1T+청주1T+설탕2T 살짝 끓인후 바로 얼음에 물에
									식힌다.</li>
								<li>따로 보관한 따듯한 면삶을 물을 이용해서 메밀면(동전 500원 분량)을 심지가없을때까지 삶는다(약
									3분).-넘치려할때마다 찬물을 조금씩 부어준다.</li>
								<li>다 익었으면 찬물로 충분히 행구고 얼음물에 직접 넣고 식힘(사리 2개 분량).</li>
								<li>김발 위에 사리 2개(중지와 검지로 또아리를 틀어서 올려둚) 위에 김채 올리고 + 위에 만든
									소바다시, 야꾸미 이쁘게 해서 제출.</li>
								<br />* 뜨거운물 관리를 잘해야 함 면 익힐걸 감안해서 끓인물을 보관하거나 끓일동안 재료손질.
								<br />
								<br />* 면과 소바다시를 식힐때 얼음이 필요하므로 얼음관리를 잘 해야 함.
								<br />
								<br />* 김발은 본인 김발을 사용하면 안됨. 시험장 제공 김발이나 메뉴판 위에 제출해야 함.
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 소바다시를 만들어 얼음으로 차게 식히시오.
								<br />나. 메밀국수는 삶아 얼음으로 차게 식혀서 사용하시오.
								<br />다. 메밀국수는 접시에 김발을 펴서 그 위에 올려내시오.
								<br />라. 김은 가늘게 채 썰어(하리노리) 메밀국수에 얹어 내시오.
								<br />마. 메밀국수, 양념(야꾸미), 소바다시를 각각 따로 담아 내시오.
							</ol>
						</section>
						<hr />
						<section id="food_no3" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">전복버터구이(25분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200502_163430.jpg" alt="picture 3"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/pN3UDBZmSZ0"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>

							<ol>
								<li>깻잎 : 찬물에 넣어두고 성형 : 다이아몬드 모양.</li>
								<li>전복 : 소금으로 문질러서 씻은 후 껍질과 내장 분리 : 전복 껍질의 얇상한 쪽에서 숫가락을 넣어서
									관자를 자름(잘못하면 내장 터지므로 절대 조심) 내장과 전복분리(분리시 이빨도 제거-내장 안터지게 주의)-> 내장
									모래주머니 제거(간 모양의 두툼한)-> 전복의 관자쪽 세로로 길게 칼집 내고 가로로 어슷썰기.</li>
								<li>양파, 피망 : 사방 2Cm 성형(전복 크기와 비슷하게).</li>
								<li>은행 끓는 물에 데친후 껍질 제거.</li>
								<li>후라이팬에 식용유 1t 두르고 양파 볶기 -> 전복, 청주, 은행 -> 피망, 내장, 버터, 소금,
									후추 넣고 볶기(타지 않게 주의- 타면 많이 감점).</li>
								<li>접시플레이팅 : 깻잎 10시 방향- 전복버터구이 가운데 담아 마무리.</li>
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 전복은 껍질과 내장을 분리하고 칼집을 넣어 한입 크기로 어슷하게 써시오.
								<br />나. 내장은 모래주머니를 제거하고 데쳐 사용하시오.
								<br />다. 채소는 전복의 크기로 써시오.
								<br />라. 은행은 속껍질을 벗겨 사용하시오.
							</ol>
						</section>
						<hr />
						<section id="food_no4" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">달걀찜(30분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200502_163432.jpg" alt="picture 4"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/SCaYHUfW81g"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>가쓰오다시 1/2C : 물 1/2C+다시 넣고 끓으면 다시만 버리고 다시물을 공기에 담아서
									가쓰오부시를 위에 넣어두고 8분간 우린다 그 후에 면포를 깐 채반위에 부어서 찌꺼기가 없는 맑은 가쓰오다시를
									만든다.</li>
								<li>속재료를 데칠 물을 끓여둔다.</li>
								<li>쑷갓 : 찬물 / 레몬 : 오리발 깍기 / 표고 별모양 내기 / 은행 끓는 물에 데쳐서 까두기.</li>
								<li>죽순, 찜어묵, 밤(직화로 꼬치에 넣어 굽기) : 사방 1Cm.</li>
								<li>생선 : 사방 1Cm-소금 / 닭가슴살 : 사방 1Cm-간장 / 새우 : 사방 1Cm(만일 안
									깐새우면 아래에서 대친 다음에 껍질 까서 사방 1Cm - 머리따서 내장손으로 제거).</li>
								<li>끓는물에 채반으로 데치기 : 은행, 죽순, 생선살, 닭가슴살.</li>
								<li>달걀물은 반드시 체반에 달걀심을 제거해주고 거기에 가쓰오다시 1/2C+청주 1t+맛술 1t+소금
									넣어서 섞는다.- Tip: 달걀(1) : 가쓰오다시물(2) 비율.</li>
								<li>냄비에 중탕으로 달걀찜 (냄비에 행주를 깔고 물을 넣은 후 위에 접시를 넣고 꾹꾹 눌러서 넘치지
									않을정도로 물을 넣는다-그 위에 공기에 담은 재료들과 달걀물을 넣어서 8분정도 익힌다 (*공기 기포가 생기지
									않도록 채반에 달걀물을 걸러서 곱게 내린 달걀물을 넣는다)-접시를 면포로 감싸서 올려두는게 중간게 계란 시간
									체크하기 좋다.</li>
								<li>푸딩처럼 익었으면 표고 버섯을 올리고 뜸들인다. 그후에 제출할때 오리발과 쑥갓을 올려서 제출한다.</li>
								<br />* 달걀찜은 부드럽게 익혀서 제출해야함.
								<br />
								<br />* 중간에 찌기 전에 기포가 없도록 달걀심을 없애고 기포도 없애서 쪄야 함.
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 찜 속재료는 각각 썰어 간 하시오.
								<br />나. 나중에 넣을 것과 처음에 넣을 것을 구분하시오.
								<br />다. 가다랑어포로 다시(국물)를 만들어 식혀서 달걀과 섞으시오
							</ol>
						</section>
						<hr />
						<section id="food_no5" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">도미술찜(30분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200509_145051.jpg" alt="picture 5"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/UZoBfp89G8U"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>다시물 1/2C, 쑥갓: 찬물.</li>
								<li>도미: 비늘, 지느러미, 아가미, 내장 제거 - 꼬리 V자 성형, 몸통 세장뜨기, 머리 2등분 -
									소금 - 생선 데치기.</li>
								<li>무: 은행잎&야꾸미 / 당근: 매화 / 죽순:빗살 편 / 배추&쑥갓말이 / 표고: 별모양 / 두부:
									직사각형.</li>
								<li>야꾸미 = 무(오로시, 간것+고추가루), 실파송송, 레몬 슬라이스.</li>
								<li>폰즈 = 다시물, 식초, 간장 각각 1T.</li>
								<li>청주 알코올 날리기 + 다시물 + 소금 - 완성접시에 재료 세팅 후 중탕(10분정도) - 쑥갓
									올려제출(야꾸미, 폰즈 함께 제출).</li>
								<br />* 순서를 잘 기억하고 최적화 해둬야 함(시간 모자름).
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 머리는 반으로 자르고, 몸통은 세장뜨기를 하시오.
								<br />나. 손질한 도미살을 5~6Cm정도 자르고 소금을 뿌려, 머리와 꼬리는 데친 후 불순물을 제거하시오.
								<br />다. 청주를 섞은 다시(국물)에 쪄내시오.
								<br />라. 당근은 매화꽃, 무는 은행잎 모양으로 만들어 익혀내시오.
								<br />마. 초간장(폰즈)와 양념(야꾸미)을 만들어 내시오.
							</ol>
						</section>
						<hr />
						<section id="food_no6" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">해삼초회(20분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200509_145054.jpg" alt="picture 6"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/ToOBDQI8eFg"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>가쓰오다시 1/2C : 물 1/2C+다시 넣고 끓으면 다시만 버리고 다시물을 공기에 담아서
									가쓰오부시를 위에 넣어두고 8분간 우린다 그 후에 면포를 깐 채반위에 부어서 찌꺼기가 없는 맑은 가쓰오다시를
									만든다.</li>
								<li>폰즈 = 가쓰오다시 + 간장 + 식초 각각 1T씩.</li>
								<li>야꾸미 = 무(오로시, 간것+고추가루), 실파송송, 레몬 슬라이스.</li>
								<li>오이: 자바라기리 - 소금물 - 2~3Cm 성형.</li>
								<li>미역: 불린 후 데쳐 미역말이 - 4Cm 성형.</li>
								<li>해삼: 입과 항문 자르고 중앙(배쪽) 잘라서 내장, 힘줄 제거 - 1Cm 두께로 성형.</li>
								<li>완성접시에 오이, 미역, 야꾸미, 해삼 놓고 폰즈 뿌려 마무리.</li>
								<br />* 숙지 또 숙지.
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 오이를 둥글게 썰거나 줄무늬(자바라)썰기하여 사용하시오.
								<br />나. 미역을 손질하여 4~5cm 정도로 써시오.
								<br />다. 해삼은 내장과 모래가 없도록 손질하고 힘줄(스지)을 제거하시오.
								<br />라. 빨간 무즙(아까오로시)과 실파를 준비하시오.
								<br />마. 초긴장(폰즈)을 끼얹어 내시오.
							</ol>
						</section>
						<hr />
						<section id="food_no7" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">도미머리맑은국(30분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200509_173912.jpg" alt="picture 7"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/BrhKehtXrFA"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>도미손질: 도미머리 2등분 - 소금 - 데침.</li>
								<li>대파 4~5Cm 채 -찬물.</li>
								<li>죽순-편썰어 데침.</li>
								<li>레몬: 오리발.</li>
								<li>물 2C + 다시마 + 도미머리 + - 끓으면 다시마 제거, 불순물 제거 - 면보에 육수 걸러
									간장약간, 청주약간, 소금.</li>
								<li>도미머리, 육수, 오리발, 대파, 올려 제출.</li>
								<br />* 숙지 또 숙지
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 도미머리 부분을 반으로 갈라 50~60g 크기로 사용 하시오.
								<br />(단, 도미는 머리만 사용하여야 하고, 도미 몸통(살) 사용할 경우 오작 처리)
								<br />나. 소금을 뿌려 놓았다가 끓는 물에 데쳐 손질하시오.
								<br />다. 다사마와 도미머리를 넣어 은근하게 국물을 만들어 간 하시오.
								<br />라. 대파의 흰 부분은 가늘게 채(시라가네기) 썰어 사용 하시오.
								<br />마. 간을 하여 각 곁들일 재료를 넣어 국물을 부어 완성하시오.
							</ol>
						</section>
						<hr />
						<section id="food_no8" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">도미조림(30분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200509_163756.jpg" alt="picture 8"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/Pkd46M8AuWI"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>다시물 1C.</li>
								<li>도미: 비늘, 지느러미, 아가미, 내장 제거 - 머리 2등분, 몸통과 꼬리 5Cm, 꼬리 V자 성형
									- 소금, 데치기.</li>
								<li>생강: 하리쇼가(얇게 채) - 찬물 / 꽈리고추 : 꼭지 제거.</li>
								<li>우엉: 나무젓가락 굵기 - 찬물(갈변방지).</li>
								<li>양념장: 다시물 1C, 간장, 설탕, 청주, 미림 각 3T 씩.</li>
								<li>냄비에 우엉, 도미 + 양념장 2/3C 뚜껑 또는 호일 - 졸이기- 1/3C 양념장 넣고
									꽈리고추(색 변하지 않게 주의) 넣어 윤기나게 졸이기.</li>
								<li>완성접시에 도미 올리고, 우엉, 꽈리고추, 생강 올려 마무리.</li>
								<br />* 시간 없음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 손질한 도미를 5~6cm로 자르고 머리는 반으로 갈라 소금을 뿌리시오.
								<br />나. 머리와 꼬리는 데친 후 불순물을 제거하시오.
								<br />다. 냄비에 앉혀 양념하여 조리하시오.
								<br />라. 완성 후 접시에 담고 생강채(하리쇼가)와 채소를 앞쪽에 담아 내시오.
							</ol>
						</section>
						<hr />
						<section id="food_no9" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">김초밥(25분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200516_144207.jpg" alt="picture 9"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/kFto3sXBovE"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>깻잎: 찬물 / 배합초 : 식초 3T, 설탕 2T, 소금 1t - 밥에 넣어 코팅.</li>
								<li>생강: 얇게 편썰어 데친 후 배합초 절임 -> 장미모양.</li>
								<li>오이: 사방 1cm + 소금 - 행군 후 물기 제거.</li>
								<li>박고지: 불린 후 데치기 - 간장 2T+설탕 2T+미림2T+물1/2C,.</li>
								<li>달걀: 설탕1/2t+맛술1t+소금1/4t - 체 - 달걀말이 후 사방 1cm</li>
								<li>김 구운 후 함김 식히기 - 김에 밥 2/3정도 펼친 후 재료(오보로,오이,계란,박고지) 넣고 밥
									끝과 끝이 만나도록 말아주기 - 일정하게 8등분으로 썰기.</li>
								<li>깻잎(5각형). 생강(장미) 올리고 김초밥 올려서 마무리.(+간장종지)</li>
								<br />* 시간 없음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 박고지, 달걀말이, 오이 등 김초밥 속재료를 만드시오.
								<br />나. 초밥초를 만들어 밥에 간하여 식히시오.
								<br />다. 김초밥은 일정한 두께와 크기로 8등분하여 담으시오.
								<br />라. 간장을 곁들여 제출하시오.
							</ol>
						</section>
						<hr />
						<section id="food_no10" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">대합맑은국(20분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200516_144210.jpg" alt="picture 10"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/uXr3qv9wgU8"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>조개: 소금물 해감 / 쑥갓: 찬물.</li>
								<li>레몬: 오리발.</li>
								<li>물 2C + 다시마 + 조개 - 끓기 시작하면 다시마 제거 -불순물 제거.</li>
								<li>조게 입벌리면 건져 껍데기 한쪽 제거 - 완성접시에 담기.</li>
								<li>면보에 육수 거른 후 간장, 청주, 소금 간하고 다시 끓여서 완성 접시 담기.</li>
								<li>쑥갓 레몬 올려 마무리.</li>
								<br />* 시간 여유 있음(쌩큐 아이템)
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 조개상태를 확인한 후 해감하여 사용하시오.
								<br />나. 다시마와 백합조개를 넣어 끓으면 다시마를 건져내시오.
							</ol>
						</section>
						<hr />
						<section id="food_no11" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">갑오징어명란무침(20분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200516_162528.jpg" alt="picture 11"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/6EqVGz5_NK0"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>깻잎, 무순: 찬물.</li>
								<li>갑오징어: 0.3cm로 두깨로 포 뜬 후 채 - 50도 청주물에 데치기.</li>
								<li>명란젓: 알.</li>
								<li>오징어 + 명란젓 = 3 : 1 (매화색) - 버무리기.</li>
								<li>10시 깻잎 깔고 갑오징어무침 담고 무순 올려 마무리.</li>
								<br />* 시간 많음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 명란젓은 껍질을 제거하고 알만 사용하시오.
								<br />나. 갑오징어는 속껍질을 제거하여 사용하시오.
								<br />다. 갑오징어를 두께 0.3cm 정도로 채썰어 청주를 섞은 물에 데쳐서 사용하시오.
							</ol>
						</section>
						<hr />
						<section id="food_no12" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">야끼우동(30분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200516_162530.jpg" alt="picture 12"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/FBtL0BaVpNg"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>숙주: 거두절미.</li>
								<li>양파, 피망, 당근, 표고 : 4cm 채.</li>
								<li>새우: 내장 껍질 제거.</li>
								<li>오징어: 솔방울 무늬: 4cm*1cm 데치기.</li>
								<li>끓는물에 면 삶아 찬물에 살짝 행굼.</li>
								<li>팬-식용유 - 양파,당근,표고,새우,오징어-면-청주, 미림, 간장 각 1T 씩 - 청피망, 숙주,
									참기름 - 접시에 담은 후 하나가쓰오 뿌려 마무리.</li>
								<br />* 시간 없음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 새우는 껍질과 내장을 제거하고 사용하시오.
								<br />나. 오징어는 솔방울무늬로 칼집을 넣어 1cm*4cm 정도 크기로 썰어서 데쳐 사용하시오.
								<br />다. 우동은 데쳐 사용하시오.
								<br />라. 가다랑어포(하나가쓰오)를 고명으로 얹으시오.
							</ol>
						</section>
						<hr />
						<section id="food_no13" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">소고기간장구이(20분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200523_143557.jpg" alt="picture 1"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/kS-Cap2p9mw"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>다시물 1/2C.</li>
								<li>다래소스: 다시물4T + 간장 2T + 설탕 2T + 청주 2T + 맛술 2T - 윤기나고 걸죽하게
									조리기.</li>
								<li>깻잎: 찬물 - 성형 / 생강: 하리쇼가 - 찬물.</li>
								<li>소고기: 핏물, 기름기 제거 후 연육 - 소금, 후추.</li>
								<li>팬에 기름 두르고 살짝 구운 후 다래소스 발라가며 굽기 + 미디엄.</li>
								<li>고기 길이 3cm, 두께 1.5cm로 잘라 깻잎 위에 올리고 산초가루, 하리쇼가 올려 마무리.</li>
								<br />* 시간 많음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 양념간장(다래)과 생강채(하리쇼가)를 준비하시오.
								<br />나. 소고기를 두께 1.5cm, 길이 3cm로 자르시오.
								<br />다. 프라이팬에 구이를 한 다음 양념간장(다래)을 발라 완성하시오.
							</ol>
						</section>
						<hr />
						<section id="food_no14" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">된장국(20분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200523_151850.jpg" alt="picture 1"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/KTVxZUqyixk"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>가쓰오다시 2C.</li>
								<li>미역: 불린 후 데치기(많이 불리면 안 데쳐도 됨) - 1~2cm 성형.</li>
								<li>두부: 사방 1cm 후 데치기.</li>
								<li>실파: 송송.</li>
								<li>냄비에 가쓰오다시 2C - 끓으면 된장 1T + 청주 1T - 불순물 제거 - 두부 토렴(살짝
									데치기).</li>
								<li>완성 접시에 두부, 미역 담고 육수 그릇의 8부 담고 실파, 산초가루 올려 마무리.</li>
								<br />* 시간 많음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 다시마와 가다랑어포(가쓰오부시)로 가다랑어국물(가쓰오다시)을 만드시오.
								<br />나. 1cm * 1cm * 1cm 로 썬 두부와 미역은 데쳐 사용하시오.
								<br />다. 된장을 풀어 한소끔 끓여 내시오.
							</ol>
						</section>
						<hr />
						<section id="food_no15" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">생선초밥(40분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200523_172610.jpg" alt="picture 1"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/9xG6Hl4FSpk"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>배합초: 식초 3T + 설탕 2T + 소금 1t - 밥 코팅 .</li>
								<li>깻잎: 찬물 / 생강: 편썰어 데쳐 배합초 - 장미 / 와사비: 물과 동량.</li>
								<li>새우: 머리,내장, 물총 제거 후 꼬치 꽂아 삶아서 껍질 제거 후 반으로 펼침.</li>
								<li>문어: 간장 & 식초 물에 데침 - 물결 모양.</li>
								<li>참치: 소금물 - 7*3*0.5cm 직사각형.</li>
								<li>광어, 도미: 껍질 제거 후 7*3cm 포.</li>
								<li>꽁치: 세장 뜨기 - 겉껍질 제거 후 잔 칼집.</li>
								<li>밥: 오른손 / 생선: 왼손 - 와사비 올려 모양 잡기.</li>
								<li>완성 접시 - 깻잎, 초생강(장미), 초밥 8개 + 간장종지 제출.</li>
								<br />* 시간 없음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 각 생선류와 채소를 초밥용으로 손질하시오.
								<br />나. 초밥초(스시스)를 만들어 밥에 간하여 식히시오.
								<br />다. 곁들일 초생강을 만드시오.
								<br />라. 쥔초밥(니기리스시)을 만드시오.
								<br />마. 생선초밥 8개를 만들어 제출하시오.
								<br />바. 간장을 곁들여 내시오.
							</ol>
						</section>
						<hr />
						<section id="food_no16" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">달걀말이(25분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200530_144453.jpg" alt="picture 1"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/wYxwqqSUrQY"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>가쓰오다시 1/2C(빨리식히기).</li>
								<li>가쓰오다시 3T, 맛술 1T, 설탕 1T, 소금 1/2t. + 계란 체에 거르기.</li>
								<li>무: 강판에 갈아서 물기 제거 - 간장.</li>
								<li>팬에 기름 두르고 달걀말이 후 김발에 모양 잡기 - 길이 8cm, 높이 2.5cm, 두께 1cm로
									썰기.</li>
								<li>접시에 깻잎 깔고, 달걀말이 8개, 무 올려 마무리.</li>
								<br />* 시간 없음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 달걀과 가다랑어국물(가쓰오다시), 소금, 설탕, 맛술(미림)을 섞은 후 체에 걸러 사용하시오.
								<br />나. 젓가락을 사용하여 달걀말이를 한 후 김발을 이용하여 사각모양을 만드시오.
								<br /> (단, 달걀을 말 때 주걱이나 손을 사용할 경우 감점 처리)
								<br />다. 길이 8cm, 높이 2.5cm, 두께 1cm 정도로 썰어 8개를 만들고, 완성되었을 때 틈새가
								없도록 하시오.
								<br />라. 달걀말이(다시마끼)와 간장무즙을 접시에 보기 좋게 담아내시오.
							</ol>
						</section>
						<hr />
						<section id="food_no17" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">참치김초밥(20분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200530_144457.jpg" alt="picture 1"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/IwSp8nJ-gnk"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>배합초: 식초 3T + 설탕 2T + 소금 1t - 밥 코팅 .</li>
								<li>깻잎: 찬물 / 생강: 편썰어 데쳐 배합초 - 장미 / 와사비: 물과 동량.</li>
								<li>참치: 소금물 해동 - 사방 1cm 성형 후 면보.</li>
								<li>와사비: 물과 동량(되직하게).</li>
								<li>김 - 반으로 잘라 구운 후 식혀 봉지에 보관 - 밥을 3/4정도 일정하게 펼친 후 와사비 넣고
									참치 올려 말기 - 12등분.</li>
								<li>완성 접시에 깻잎, 생강 참치김초밥 올려 마무리 + 간장종지.</li>
								<br />* 시간 없음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 김을 반장으로 자르고, 눅눅하거나 구어지지 않은 김은 구워 사용하시오.
								<br />나. 고추냉이와 초생각을 만드시오.
								<br />다. 초밥 2줄은 일정한 크기 12개로 잘라 내시오.
								<br />라. 간장을 곁들여 내시오.
							</ol>
						</section>
						<hr />
						<section id="food_no18" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">삼치소금구이(30분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200530_164014.jpg" alt="picture 1"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/7zZs6GJnORE"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>다시물 1C.</li>
								<li>삼치: 3장뜨기 - X자 칼집 - 소금 -수분제거 -쇠꼬챙이에 끼워 익히기.</li>
								<li>무: 3*3*3cm, 0.2cm 간격으로 칼집(국화꽃모양) - 다시물 3T, 설탕 1T, 식초
									1T, 소금 소량에 절이기.</li>
								<li>우엉: 껍질제거 - 5*0.5*0.5cm - 냄비(식용유) 볶기 - 조림장( 1/2C, 간장 1T,
									설탕 1T, 맛술 1T, 청주 1T) 넣고 윤기나게 졸이기 - 양끝에 깨 묻히기.</li>
								<li>레몬: 웨지 모양 + 레몬껍질 다지기(국화꽃 수술).</li>
								<li>깻잎, 삼치, 레몬 웨지, 무(국화꽃+레몬껍질), 우엉 담아 마무리.</li>
								<br />* 시간 없음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 삼치는 세장뜨기한 후 소금을 뿌려 10~20분 후 씻고 쇠꼬챙이에 끼워 구워내시오.
								<br /> (단, 석쇠를 사용할 경우 감점 처리)
								<br />나. 채소는 각각 초담금 및 조림을 하시오
								<br />다. 구이 그릇에 삼치소금구이와 곁들임을 담아 완성하시오
								<br />라. 길이 10cm정도로 2조각을 제출하시오.
							</ol>
						</section>
						<hr />
						<section id="food_no19" style="color: #4b66b3;"font-family: 'comicsansms', sans-serif; font-size: 25.0px; line-height: 30.0px;">
							<br /> <br /> <br />
							<h1 style="text-align: center;">문어초회(20분)</h1>
							<div id="wrap">
								<div id="image">
									<img src="../images/380_20200530_164018.jpg" alt="picture 1"
										width="380" height="214" align="center">
								</div>
								<div id="youtube">
									<iframe width="380" height="214"
										src="https://www.youtube.com/embed/wpQQTapwE_o"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
								</div>
							</div>
							<ol>
								<li>가쓰오다시 1/2C - 도사스 : 가쓰오다시 2T, 간장 1T, 설탕 1T, 식초 1T - 살짝
									끓여 식히기.</li>
								<li>오이: 자바라 - 소금물 - 2~3cm로 썰기.</li>
								<li>미역: 찬물에 불린 후 데치기 - 참물에 헹군 후 김발에 말기 - 4~5cm로 썰기.</li>
								<li>문어: 간장 & 식초 물에 데침 - 물결 모양.</li>
								<li>레몬: 반달모양 슬라이스.</li>
								<li>완성접시에 오이, 미영, 문어, 레몬 답고 도사스 뿌려 마무리.</li>
								<br />* 시간 없음
								<br />
								<br />
								<h3>요구사항</h3>
								<br />가. 가다랑어국물을 만들어 양념초간장(도사스)을 만드시오.
								<br />나. 문어는 삶아 4~5cm 길이로 물결모양썰기(하조기리)를 하시오.
								<br />다. 미역은 손질하여 4~5cm 정도 크기로 사용하시오.
								<br />라. 오이는 둥글게 썰거나 줄무늬(자바라) 썰기 하여 사용하시오.
								<br />마. 문어초회 접시에 오이와 문어를 담고 양념초간장(도사스)을 끼얹어 레몬으로 장식하시오.
							</ol>
						</section>
						<hr />
					</div>
				</div>
				<hr />
			</div>
		</div>
	</div>
	<!-- 이미지로 버튼만들려면 -->
	<a href="#" class="jcm-top"> <img src="./images/arrow-up.png"
		style="margin-bottom: 24px; width: 45px;">
	</a> {{> include/footer}}
</body>
</html>