<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>{{> include/header}}
</head>

<body>
	{{> include/navigation}}
	<section id="main_section">
		<article id="main_article">
			<p>njh</p>
			<p>njh</p>
			<p>njh</p>
			<p>njh</p>
			<p>njh</p>
			<p>njh</p>
		</article>
		<figure id =-"map_image">
		</figure>
	</section>
	<!-- 이미지로 버튼만들려면 -->
	<a href="#" class="jcm-top"> <img src="./images/arrow-up.png"
		style="margin-bottom: 24px; width: 45px;">
	</a> {{> include/footer}}
</body>
</html>